  <%= simple_form_for (flat) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs mb-3">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
    </div>
    <div class="form-actions">
      <%= f.submit class: "btn btn-primary mb-3" %> <%= link_to 'Cancel', flats_path, class:"btn btn-danger mb-3" %>
    </div>
  <% end %>
